<!-- Start: Social Network -->
<section class="social-network section-padding">
    <div class="container">
        <div class="center-content">
            <h2 class="section-title">Follow Us</h2>
            <span class="underline center"></span>
            <!-- <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> -->
        </div>
        <ul>
            <li>
                <a class="facebook" href="https://www.facebook.com/SahabatRAPP/" target="_blank">
                    <span>
                        <i class="fa fa-facebook-f"></i>
                    </span>
                </a>
            </li>
            <li>
                <a class="twitter" href="https://twitter.com/RAPP_Official" target="_blank">
                    <span>
                        <i class="fa fa-twitter"></i>
                    </span>
                </a>
            </li>
            <li>
                <a class="google" href="#" target="_blank">
                    <span>
                        <i class="fa fa-google-plus"></i>
                    </span>
                </a>
            </li>
            <li>
                <a class="rss" href="#" target="_blank">
                    <span>
                        <i class="fa fa-rss"></i>
                    </span>
                </a>
            </li>
            <li>
                <a class="linkedin" href="https://www.linkedin.com/company/april/" target="_blank">
                    <span>
                        <i class="fa fa-linkedin"></i>
                    </span>
                </a>
            </li>
            <li>
                <a class="youtube" href="https://www.youtube.com/channel/UCQuknJr50R8TFh54mg5RnTw" target="_blank">
                    <span>
                        <i class="fa fa-youtube"></i>
                    </span>
                </a>
            </li>
        </ul>
    </div>
</section>
<!-- End: Social Network -->

<!-- Start: Footer -->
<footer class="site-footer">
    <div class="container">
        <div id="footer-widgets">
            <div class="row">
                <div class="col-md-4 col-sm-6 widget-container">
                    <div id="text-2" class="widget widget_text">
                        <h3 class="footer-widget-title">About ALI Library</h3>
                        <span class="underline left"></span>
                        <div class="textwidget">
                            It is a long established fact that a reader will be distracted by the readable content of a page when looking.
                        </div>
                        <!-- <address>
                            <div class="info">
                                <i class="fa fa-location-arrow"></i>
                                <span>CVPP+3FR, Pangkalan Kerinci Tim., Kec. Pangkalan Kerinci, Kabupaten Pelalawan, Riau 28654</span>
                            </div>
                            <div class="info">
                                <i class="fa fa-envelope"></i>
                                <span><a href="mailto:support@libraria.com">alilibrary@aprilasia.com</a></span>
                            </div>
                            <div class="info">
                                <i class="fa fa-phone"></i>
                                <span><a href="tel:012-345-6789">+ 012-345-6789</a></span>
                            </div>
                        </address> -->
                    </div>
                </div>
                <div class="col-md-2 col-sm-6 widget-container">
                    <div id="nav_menu-2" class="widget widget_nav_menu">
                        <h3 class="footer-widget-title">Quick Links</h3>
                        <span class="underline left"></span>
                        <div class="menu-quick-links-container">
                            <ul id="menu-quick-links" class="menu">
                                <li><a href="/home">Home</a></li>
                                <li><a href="/home/collections">Books & Media</a></li>
                                <li><a href="/home/history_extend">History & Extend</a></li>
                                <!-- <li><a href="#">Board of Trustees</a></li>
                                <li><a href="#">Budget</a></li>
                                <li><a href="#">Annual Report</a></li> -->
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="clearfix hidden-lg hidden-md hidden-xs tablet-margin-bottom"></div>
                <div class="col-md-2 col-sm-6 widget-container">
                    <div id="text-4" class="widget widget_text">
                        <h3 class="footer-widget-title">Schedule</h3>
                        <span class="underline left"></span>
                        <div class="timming-text-widget">
                            <time >Mon - Fri: 8 am - 5 pm</time>
                            <time >Sat: 8 am - 12 am</time>
                            <ul>
                                <!-- <li><a href="#">Closings</a></li>
                                <li><a href="#">Branches</a></li> -->
                            </ul>
                        </div>
                    </div>			
                </div>
                <div class="col-md-4 col-sm-6 widget-container">
                    <div class="widget twitter-widget">
                        <h3 class="footer-widget-title">Contact</h3>
                        <span class="underline left"></span>
                        <address>
                            <div class="info">
                                <i class="fa fa-location-arrow"></i>
                                <span>CVPP+3FR, Pangkalan Kerinci Tim., Kec. Pangkalan Kerinci, Kabupaten Pelalawan, Riau 28654</span>
                            </div>
                            <div class="info">
                                <i class="fa fa-envelope"></i>
                                <span><a href="mailto:support@libraria.com">alilibrary@aprilasia.com</a></span>
                            </div>
                            <div class="info">
                                <i class="fa fa-phone"></i>
                                <span><a href="tel:012-345-6789">+ 012-345-6789</a></span>
                            </div>
                        </address>
                    </div>			
                </div>
            </div>
        </div>                
    </div>
    <div class="sub-footer">
        <div class="container">
            <div class="row">
                <div class="footer-text col-md-3">
                    <p><a href="/home">April Learning Institute Library</a></p>
                </div>
                <div class="col-md-9 pull-right">
                    <ul>
                        <li><a href="/home">Home</a></li>
                        <li><a href="/home/collections">Books &amp; Media</a></li>
                        <li><a href="/home/history_extend">History &amp; Extend</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End: Footer -->

<!-- jQuery Latest Version 1.x -->
<script type="text/javascript" src="/templateMember/js/jquery-1.12.4.min.js"></script>
        
<!-- jQuery UI -->
<script type="text/javascript" src="/templateMember/js/jquery-ui.min.js"></script>

<!-- jQuery Easing -->
<script type="text/javascript" src="/templateMember/js/jquery.easing.1.3.js"></script>

<!-- Bootstrap -->
<script type="text/javascript" src="/templateMember/js/bootstrap.min.js"></script>

<!-- Mobile Menu -->
<script type="text/javascript" src="/templateMember/js/mmenu.min.js"></script>

<!-- Harvey - State manager for media queries -->
<script type="text/javascript" src="/templateMember/js/harvey.min.js"></script>

<!-- Waypoints - Load Elements on View -->
<script type="text/javascript" src="/templateMember/js/waypoints.min.js"></script>

<!-- Facts Counter -->
<script type="text/javascript" src="/templateMember/js/facts.counter.min.js"></script>

<!-- MixItUp - Category Filter -->
<script type="text/javascript" src="/templateMember/js/mixitup.min.js"></script>

<!-- Owl Carousel -->
<script type="text/javascript" src="/templateMember/js/owl.carousel.min.js"></script>

<!-- Accordion -->
<script type="text/javascript" src="/templateMember/js/accordion.min.js"></script>

<!-- Responsive Tabs -->
<script type="text/javascript" src="/templateMember/js/responsive.tabs.min.js"></script>

<!-- Responsive Table -->
<script type="text/javascript" src="/templateMember/js/responsive.table.min.js"></script>

<!-- Masonry -->
<script type="text/javascript" src="/templateMember/js/masonry.min.js"></script>

<!-- Carousel Swipe -->
<script type="text/javascript" src="/templateMember/js/carousel.swipe.min.js"></script>

<!-- bxSlider -->
<script type="text/javascript" src="/templateMember/js/bxslider.min.js"></script>

<!-- Custom Scripts -->
<script type="text/javascript" src="/templateMember/js/main.js"></script>